/* Stub CSS file for your tinychat app! */

body {
  background-color: snow;
  color: #333;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 64px;
  display: block;
  border-bottom: 1px solid #e8e8e8;
}

#footer {
  position: fixed;
  padding-left: 16px;
  padding-right: 16px;
  left: 220px;
  right: 0;
  bottom: 0;
  min-height: 64px;
}

#message-input {
  min-width: 100%;
  min-height: 42px;
  max-height: 42px;
  border-radius: 6px;
}

#main-content{
  min-width: inherit;
  display: flex;
  flex-flow: row nowrap;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 64px;
  min-height: 100%;
  min-width: 220px;
  display: block;
  background-color: #4d394b;
}

#message-list-container {
  position: fixed;
  left: 220px;
  right: 0;
  top: 64px;
  bottom: 64px;
  min-width: inherit;
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  overflow-y: scroll;
}

#message-list {
  min-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.message-list-entry {
  position: relative;
  border-bottom: 1px solid grey;
  min-height: 64px;
  min-width: inherit;
  padding: 16px 8px 8px 8px;
}

.message-author{
  font-weight: 900;

}

.message-content{
  margin-bottom: 8px;
}

.message-timestamp{
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 12px;
}